 <div   *ngIf="city">


 
   
<div class="forecast-container"  *ngFor="let item of city.consolidated_weather">
    <div class="today forecast">
            <div class="forecast-header">
  
                <div class="day">{{ item.applicable_date | date : 'EEEE' }} </div>
            </div> <!-- .forecast-header -->
            <div class="forecast-content">
                    <div class="location">{{ item.title }}</div>
                    <div class="location">min : {{ item.min_temp | number }}</div>
                    <div class="location">max : {{ item.max_temp | number }}</div>
                    
                    <div class="degree">
                        <div class="num">{{item.the_temp | number }} <sup>o</sup>C</div>
                        <div class="forecast-icon">
                        <img src="https://www.metaweather.com/static/img/weather/png/{{item.weather_state_abbr}}.png" alt="" width=120>
                        </div>	
                    </div>
            </div>
     
          </div>
         
     </div> 


        






    </div>